

{% extends 'base.html' %}

{% block content %}

<div style="text-align:center;">
	<h1 style="color: darkgreen">Sufrágio</h1>
    <p style="color: green">Bem vindo à Página do Eleitor!</p>	
  </div>
<div class="row" style="text-align:center;" >
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Crie aqui sua Eleição!</h5>
        <p class="card-text">Crie sua votação online e disponibilize o código para o público alvo!</p>
        <a href="/criar-eleicao" class="btn btn-success">Criar eleição</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Acesso aos Resultados</h5>
        <p class="card-text">Aqui você pode conferir qual foi o resultado das eleições que você participou</p>
        <a href="/resultados" class="btn btn-success">Conferir resultados</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}