

{% extends 'base.html' %}

{% block content %}
<div style="text-align:center;" class="centro">
    <h1 style="color: darkgreen;"><i>Sufrágio</i></h1>
    <p style="color: green">Sufrágio é um sistema de votação online desenvolvido para facilitar nas decisões em grupo, cadastre-se e crie sua votação. É rápido, fácil e dinâmico!</p>
 </div>

<div style="text-align: center; margin-top: 20px;">
 	<a href="/login"><button class="btn btn-success">Login</button></a>
 	<a href="/cadastro"><button style="margin-left: 10px;" class="btn btn-success">Cadastro</button></a>
</div>

<div>
	<img src="http://i.imgur.com/JIFPTSb.png" style="float: right;" />
</div>

{% endblock %}
